/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: rgb(242, 235, 230) !important;
}

.bodyD {
    margin-top: 200px;
    padding-bottom: 20px;
}

:root {
    scroll-padding-top: 35vh;
}

html,
body {
    min-height: 100%;
}

@font-face {
    font-family: 'SETOFONT';
    src: local("SETOFONT"), url('../fonts/SETOFONT.woff2') format('woff2'), url('../fonts/SETOFONT.woff') format('woff');
    font-display: swap;
}

.font {
    font-family: 'SETOFONT';
}

.head_color {
    background-color: rgb(232, 214, 212);
}

.menu {
    background-image: url(../Img/list.png);
}

.font_color {
    color: rgb(180, 138, 141);
    font-size: 22px;
}

.font_color:hover {
    text-decoration: none !important;
    color: rgb(127, 88, 93);
    /* background-color: transparent; */
}

.head_txt {
    padding: 10px;
}

.index {
    color: rgb(127, 88, 93) !important;
    background-color: #fff;
    border-radius: 15%;
    text-decoration: none !important;
}

.indexE {
    color: rgb(127, 88, 93) !important;
    border-bottom: 2px rgb(127, 88, 93) solid !important;
    padding-bottom: 3px !important;
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.ul {
    margin-right: 100px;
    display: flex;
    align-items: center;
}

/*首頁一*/
.logoB {
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 0px auto;
    margin-left: 130px;
}

.horizontalLine {
    background-color: rgb(206, 181, 181);
    width: 3px !important;
    padding: 0px !important;
    margin-left: 15px;
    margin-right: 15px;
}

.content_f {
    font-size: 19px;
}

.content_b1 {
    background-image: url(../Img/twitch.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    margin-right: 10px;
}

.content_b2 {
    background-image: url(../Img/discord.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
    margin-right: 10px;
}

.content_b3 {
    background-image: url(../Img/X.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
}

/*注意事項*/
.noticeC {
    margin-top: 30px !important;
}

.notice_div {
    margin-top: 20px;
    width: 50%;
}

.notice_tit {
    font-size: 21px;
}

.notice_con {
    font-size: 19px;
    color: rgb(127, 88, 93);
    margin-left: -9px;
}

/*委託項目*/
.lazy-image {
    text-align: center;

    /* img 先把透明度調成 0，才有淡入的效果 */
    img {
        opacity: 0;
        transition: opacity 1s linear;
        width: 100%;
    }

    /* 將區塊等比例撐開 */
    .small {
        width: 100%;
        /* height: 0; */
        background-size: cover;
        background-position: center center;
    }

    /* 圖片淡入 */
    .show img {
        opacity: 1;
    }
}





.item ul li {
    list-style: none;
    display: inline;
}

a {
    cursor: pointer;
}

.item ul {
    display: table;
    margin: 0 auto;
    padding: 0px;
}

.item li {
    padding: 10px;
}

.span2 {
    display: none;
}

#item li {
    padding: 52px;
}

/*響應*/
@media (max-width: 750px) {

    /*筆電*/
    .ul {
        margin-right: 0px;
        width: 100%;
    }

    .item ul {
        display: flex;
        flex-direction: column;
    }

    .logoB {
        width: 50%;
        margin-left: auto;
    }
}

@media (min-width: 750px) {
    .emo1 {
        width: 18% !important;
    }

    .emo2 {
        width: 20% !important;
    }

    /* .emo3 {
        width: 30% !important;
    } */

    .proportional1 {
        width: 36% !important;
    }
}

@media (max-width: 999px) {

    /*電腦*/
    .ul {
        margin-right: 0px;
        width: 100%;
    }

    .head_color {
        height: auto;
    }
}

@media(max-width: 1200px) and (min-width:770px) {
    .logoB {
        margin-left: auto;
    }
}

@media(max-width:1200px) {
    .notice_div {
        position: unset;
        width: 100%;
        margin: auto;
        padding-top: 20px;
    }
}

@media(max-width:769px) {

    /* 手機 */
    .content {
        margin-top: 30px;
    }

    .span1 {
        display: none;
    }

    .span2 {
        display: block;
    }

    #item li {
        padding: 10px;
    }

    /* .entrust {
        min-height: 1100px !important;
    } */

    .head_div {
        width: 70% !important;
        margin-left: 55px !important;
    }

    .content_div {
        width: 30% !important;
    }

    .content_divs {
        scale: 0.7;
        padding-left: 0px;
    }

    .homeRow {
        margin-top: -50px !important;
    }

    .item {
        margin-top: -50px !important;
    }

    .qTypeBody {
        margin-top: 15px !important;
    }
}